<header>
    <div class="card banner">
        <div class="card-header banner-title">
            <h5 id="abm-b" class="mb-0 roboto-title">{{abm.first_name}} {{abm.last_name}} // MATT</h5>
        </div>
        <div class="card-body banner-body">
            <div class="row">
                <div class="col" style="padding: 0px;"><img id="abm-a" class="rounded-circle img-fluid mugshot-size" [src]="abm.picture"></div>
                <div class="col-9" style="align-content: start;">
                    <p id="abm-c" class="roboto-text" style="text-align: left; ">{{abm.about_me}}</p>
                </div>
            </div>
        </div>
    </div>
</header>