<body class="back">
  <app-navbar></app-navbar>
  <main>
    <app-about-me></app-about-me>
      <!-- Start: 1 Row 2 Columns -->
      <div class="container-fluid" style="padding: 0px;">
          <div class="row" style="width: 100%;margin: 0px;">
              <div class="col-10" style="padding: 0px;">
                  <app-about-jobs></app-about-jobs>
                  <app-about-education></app-about-education>
                  <app-about-skills></app-about-skills>
                  <app-about-projects></app-about-projects>
              </div>
              <div class="col-2" style="margin-top: 0px;margin-left: 0px;padding: 0px;">
                  <section id="ownerSide">
                    <app-muse></app-muse>
                  </section>
              </div>
          </div>
      </div><!-- End: 1 Row 2 Columns -->
      <div class="modal fade" role="dialog" tabindex="-1" id="modal-1" style="background: #000000;">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen" role="document">
              <div class="modal-content">
                  <div class="modal-header" style="color: rgb(0,0,0);background: #000000;">
                      <h2 class="display-5 modal-title" style="color:rgb(16, 104, 76);text-align: center;font-style: italic;">Login</h2><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" id="m-body" style="background-image: linear-gradient(#000, #03211E);">
                      <!-- Start: 2 Rows 2 Columns -->
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                  <h6 class="display-6" style="color:rgb(16, 104, 76);">User</h6>
                              </div>
                              <div class="col text-center d-lg-flex justify-content-lg-center"><input type="text" id="username" style="color: rgb(16,200,0);background: rgb(0,0,0);border: 3px solid rgb(16, 104, 76);width: 70%;"></div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <h6 class="display-6" style="color:rgb(16, 104, 76);">Password</h6>
                              </div>
                              <div class="col text-center d-lg-flex justify-content-lg-center"><input type="password" id="password" style="color: rgb(4,188,0);background: rgb(0,0,0);border: 3px solid rgb(16, 104, 76);width: 70%;"></div>
                          </div>
                      </div><!-- End: 2 Rows 2 Columns -->
                  </div>
                  <div class="modal-footer" style="background: #000000;border-color: rgb(16, 104, 76);"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button" style="background: rgb(0,0,0);" onclick="login()">Login</button></div>
              </div>
          </div>
      </div>
  </main>
  <footer></footer>
</body>