<!-- Start: Proyectos -->
<section class="page">
    <div class="container-fluid" style="padding: 0px;">
        <div class="intro-div"><span class="d-flex" style="background: #000000;height: 1vh;"></span>
            <h1 class="roboto-tittle">Proyectos.</h1>
            <p class="roboto-text">Porque se aprende haciendo<br>y uno nunca deja de hacerlo<br>aca dejo esas ideas que poco a poco<br>se van escribiendo y<br>codeando cada ve que aprendo algo nuevo.</p><span class="d-flex" style="height: 1vh;background: #000000;"></span>
        </div>
        <div class="cont-div">
            <div class="carousel slide carousel-dark" data-bs-ride="carousel" id="carousel-7">
                <div class="carousel-inner carou-slide">
                    <div class="carousel-item active">
                        <div class="row carou-cont">
                            <div class="col-3"><img class="image" src="/assets/default-image.jpg"></div>
                            <div class="col">
                                <p>Paragraph</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row carou-cont">
                            <div class="col-3"><img src="/assets/code-matrix-matrix-wallpaper-preview.jpg" style="width: 100%;height: 100%;"></div>
                            <div class="col">
                                <p>Paragraph</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row carou-cont">
                            <div class="col-3"><img src="/assets/default-image.jpg" style="width: 100%;height: 100%;"></div>
                            <div class="col">
                                <p>Paragraph</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-7" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                    <!-- Start: Next --><a class="carousel-control-next" href="#carousel-7" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                </div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carousel-7" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carousel-7" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carousel-7" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</section><!-- End: Proyectos -->