                  <!-- Start: Skills -->
                  <section class="page">
                    <span class="d-flex black-line"></span>
                    <div class="intro-div">
                        <div class="row no-pad">
                            <div class="col">
                                <img class="img-header" src="/assets/AboutSkills.png">
                            </div>
                            <div class="col">
                                <p class="roboto-text sub-text"><br>Life and games are similar<br>by the end of the day<br>the only thing that really matter<br>is having the correct items and skills</p>
                            </div>
                        </div>
                    </div>
                    <span class="d-flex black-line"></span>
                    <div class="row row-cont roboto-text" style="height: 80vh">
                        <div class="col-auto col-md-4 text-center" style="padding: 0px;"><img src="/assets/Coding.png" />
                            <div id="carousel-1" class="carousel slide" data-bs-ride="carousel" style="padding: 10px;">
                                <div class="carousel-inner" style="border-radius: 30px;">
                                    <div class="carousel-item">
                                        <div class="card"><img class="card-img w-100 d-block void"/>
                                            <div class="card-img-overlay">
                                                <h4>Title</h4>
                                                <p>Paragraph</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card"><img class="card-img w-100 d-block void"/>
                                            <div class="card-img-overlay">
                                                <h4>Title</h4>
                                                <p>Paragraph</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item active">
                                        <div class="card"><img class="card-img w-100 d-block void"/>
                                            <div class="card-img-overlay">
                                                <h4>Title</h4>
                                                <p>Paragraph</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                                    <li class="active" data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-auto col-md-4 text-center" style="padding: 0px;"><img src="/assets/Writing.png" />
                            <div id="carousel-2" class="carousel slide" data-bs-ride="carousel" style="padding: 10px;">
                                <div class="carousel-inner" style="border-radius: 30px;">
                                    <div class="carousel-item active">
                                        <div class="card"><img class="card-img w-100 d-block void"/>
                                            <div class="card-img-overlay">
                                                <h4>Title</h4>
                                                <p>Paragraph</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card"><img class="card-img w-100 d-block void"/>
                                            <div class="card-img-overlay">
                                                <h4>Title</h4>
                                                <p>Paragraph</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card"><img class="card-img w-100 d-block void"/>
                                            <div class="card-img-overlay">
                                                <h4>Title</h4>
                                                <p>Paragraph</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-2" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li class="active" data-bs-target="#carousel-2" data-bs-slide-to="0"></li>
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-auto col-md-4 text-center" style="padding: 0px;"><img src="/assets/Social.png" />
                            <div id="carousel-3" class="carousel slide" data-bs-ride="carousel" style="padding: 10px;">
                                <div class="carousel-inner" style="border-radius: 30px;">
                                    <div class="carousel-item active">
                                        <div class="card"><img class="card-img w-100 d-block void"/>
                                            <div class="card-img-overlay">
                                                <h4>Title</h4>
                                                <p>Paragraph</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card"><img class="card-img w-100 d-block void"/>
                                            <div class="card-img-overlay">
                                                <h4>Title</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda illum quidem id in qui aliquid corporis magnam, fugit aspernatur laboriosam odit nihil veniam sunt quaerat officia neque ad, praesentium excepturi.
                                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam totam, voluptas itaque ipsum quisquam, nostrum natus hic corrupti consequatur iste nobis laboriosam sint laborum, quidem repudiandae dolorum blanditiis reprehenderit!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card"><img class="card-img w-100 d-block void"/>
                                            <div class="card-img-overlay">
                                                <h4>Title</h4>
                                                <p>Paragraph</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-3" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-3" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li class="active" data-bs-target="#carousel-3" data-bs-slide-to="0"></li>
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section><!-- End: Skills -->